{% extends "base.html" %} 

{% block content %}

<div class="container mt-5" style="width: 33%;">
    <div class="card">
        <article class="card-body">
        <a href="/register" class="float-right btn btn-outline-success">Customer Registration</a>
        <h4 class="card-title mb-4 mt-1">Customer Login</h4>
             <form method="post">
            <div class="form-group">
                <label>Username/Customer ID*</label>
                <input name="cid" class="form-control" placeholder="Customer ID" type="text" required>
            </div> <!-- form-group// -->
            <div class="form-group">
                <a class="float-right" href="#">Forgot?</a>
                <label>Your password*</label>
                <input class="form-control" placeholder="******" type="password" required>
            </div> <!-- form-group// --> 
            <div class="form-group"> 
            <div class="checkbox">
              <label> <input type="checkbox"> Save password </label>
            </div> <!-- checkbox .// -->
            </div> <!-- form-group// -->  
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block"> Login  </button>
            </div> <!-- form-group// -->                                                           
        </form>
        </article>
        </div> <!-- card.// -->
</div>

{% endblock content%}